body {
    font-family: "Helvetica", "Arial", sans-serif;
}

li {
    color: darkslategray;
}

.shooters {
    color: red;
}

#minecraft {
    color: goldenrod;
}

#minecraft:hover {
    color: green;
}